*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}

header{
    background-color:rgb(37, 92, 232);
    min-height: 60px;
    padding-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-flex-container {
    display: flex;
    width: 70%;
    align-items: center;
}

.orange-flex-container div{
    padding: 10px 5px;
}

.logo-box{
    width: 25%;
}

.link-box{
    width: 50%;
    text-align: center;
}

.login-box{
    width: 25%;
    text-align: right;  
}

.blue{
    height:350px;
    margin-top: 10px;
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.borders{
    border: 1px dashed;
}

.pink-box{
    height: 300px;
    width: 50%;
    color: white;
    text-align: center;
    padding: 40px 40px;
}
     
.white{
    min-height: 400px;
    max-width: 1093px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.lightblue-box{
    max-width: 1000px;
    min-height: 300px;
    margin-right: 10px;
}

.lightpink-box{
    min-height: 300px;
    width: 30%;
    padding-left: 10px ;
}

.gray{
    background-color: rgb(212, 212, 212) ;
    min-height: 500px;
}

.graygreen{
    background-color: rgb(212, 212, 212) ;
    min-height: 700px
}

.green-box {
    margin-top: 100px;
    min-height: 600px;
    width: 70%;
    text-align: center;
}

.dark{
    background-color: rgb(34, 38, 41) ;
    min-height: 350px;
    margin-bottom: 2px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.salmon-box{
    min-height: 350px;
    width: 25% ;
    padding-right: 150px;
}

.darkbottom{
    background-color: rgb(34, 38, 41) ;
    min-height: 100px;
    margin-bottom: 1px;
}

.dark-flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blumarine-box{
    min-height: 350px;
    width: 45%;
}

.bluemarine-son{
    width: 25%;
    min-height: 350px;
    color: rgb(113, 134, 217) ;
    font-weight: 600;
}

.lowbar{
    min-height: 80px;
    width: 70%;
    margin-bottom: 0;
}

.footerflex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-button{
    padding: 5px 5px 5px 5px;
}

#header-p{
    font-size: 13px ;
    padding: 0px 20px;
    line-height: 155%;
    margin-bottom: 20px;
    font-weight: 600;
}

#header-title{
    margin-bottom: 25px;
    font-size: 35px;
}

.logo-discord{
    width: 90px;
}

.link-flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-box a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.white-button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.text-login{
    font-size: 12px;
    padding: 7px 11px;
    border-radius: 15px ;
}

.mac{
    padding: 9px 19px;
    border-radius: 25px;
    font-size: 12px;
}

.dark-button{
    background-color:rgb(34, 38, 41);
    border: none;
    color: white;
    cursor: pointer;
}

.body-img{
    height: 355px;
    margin-top: 65px;
    padding-right: 20px;
}
h2{
    font-size: 30px;
    margin-bottom: 28px;
    color: rgb(36, 41, 40);
}

.text-1{
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 35px;
}

p {
    line-height: 23px;
    font-weight: 200;
    font-size: 14px;
}

.text-2{
    padding-left: 80px;
}

.voice-img{
    height: 355px;
    margin-left: 20px ;
}

.genius-img{
    height: 355px;
    margin-top: 65px;
    margin-right: 10pxs
}

.green-box p {
    padding-right: 70px;
    padding-left: 70px;
}

.dark h2{
    color: rgb(113, 134, 217)
}

.marine-flex-container{
    display: flex;
    flex-direction: column;
}

.bluemarine-son p{
    font-weight: 600;
    padding-bottom: 10px;
}

.bluemarine-son a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.bluemarine-son div{
    padding-bottom: 10px;
}

details{
    display: inline-block;
    color: white;
    font-size: 12px;
}
#ita {
    height: 12px;
}

.sign-button{
    background-color: rgb(145, 160, 230);
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

